.header{
	width:90%;
	height:40px;
	margin: 0 auto;
	padding-left: 30px;
}
/**********nav*****************/
body, ul.nav, ul.nav li, ul.nav ul, a{
    margin: 0;
    padding: 0;
	top:8px;
	left:80px;
    font-size: 15px;
    text-decoration: none;
}
ul.nav,ul.nav li {
    list-style: none;
}
ul.nav li {
    position: relative;
    float: left;
}
/* 選單 li 裡面連結之樣式 */
ul.nav li a{
    display: block;
    padding: 12px 20px;
    color: #000;
}
/* 特定在第一層，以左邊灰線分隔 
ul.nav > li > a{
    border-bottom: 1px solid #CCC;    
    border-left: 1px solid #CCC;
}*/
ul.nav > li > a:hover{
    color: #666;
    background: #DDD
}
/* 特定在第一層 > 第二層之後下拉部分之樣式 */
ul.nav li ul{
    display: none;
    float: left;
    position: absolute;
    left: -80px;   
	top:30px;
    margin: 0;
	z-index:2;
}
/* 當第一層選單被觸發時，指定第二層顯示 */
ul.nav li:hover > ul{
    display: block;
}
/* 特定在第二層或之後下拉部分 li 之樣式 */
ul.nav ul li {
    border-bottom: 1px solid #DDD;
}
/* 特定在第二層或之後下拉部分 li （最後一項不要底線）之樣式 */
ul.nav ul li:last-child {
    border-bottom: none;
}
/* 第二層或之後 選單 li 之樣式 */
ul.nav ul a {
	z-index:2;
    width: 120px;
    padding: 10px 12px;    
    color: #666;        
    background: #EEE;
}
ul.nav ul a:hover {        
    background: #CCC;    
}
/* 第三層之後，上一層的選單觸發則顯示出來（皆為橫向拓展） */
ul.nav ul li:hover > ul{
    display: block;
    position: absolute;
    top: 0;    
    left: 100%;
}
/* 箭頭向下 */
.arrow-bottom {
    display: inline-block;
    margin-left: 5px;
    border-top: 4px solid #000;
    border-right: 4px solid transparent;    
    border-left: 4px solid transparent;        
    width: 1px;
    height: 1px;
}
/* 箭頭向右 */
.arrow-right {
    display: inline-block;
    margin-left: 12px;    
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-left: 3px solid #666;        
    width: 1px;
    height: 1px;
}
/*********information**********/
.pic0
{
	left: 80px;
	top:100px;
	position:absolute;
	width:654px;
	height:380px;
	z-index:1;
}
.pic0:hover
{
	opacity:0.5;
}
.pic0  img{
	max-width:100%;
	max-height:100%;
	width:auto;
	height:auto;
}
.pic1
{
	left: 740px;
	top:100px;
	position:absolute;
	width:480px;
	height:263px;
	z-index:1;
}
.pic1  img{
	max-width:100%;
	max-height:100%;
	width:auto;
	height:auto;
}
.pic2
{
	left: 740px;
	top:367px;
	position:absolute;
	width:480px;
	height:263px;
	z-index:1;
}
.pic2  img{
	max-width:100%;
	max-height:100%;
	width:auto;
	height:auto;
}
.pic2:hover
{
	opacity:0.5;
}
.pic3
{
	left: 80px;
	position:absolute;
	width:214px;
	height:146px;
	top:484px;
	z-index:1;
}
.pic3 img{
	max-width:100%;
	max-height:100%;
	width:auto;
	height:auto;
}
.pic3:hover
{
	opacity:0.5;
}
.pic4
{
	left: 300px;
	position:absolute;
	width:214px;
	height:146px;
	top:484px;
	z-index:1;
}
.pic4 img{
	max-width:100%;
	max-height:100%;
	width:auto;
	height:auto;
}
.pic4:hover
{
	opacity:0.5;
}
.pic5
{
	left: 520px;
	position:absolute;
	width:214px;
	height:146px;
	top:484px;
	z-index:1;
}
.pic5 img{
	max-width:100%;
	max-height:100%;
	width:auto;
	height:auto;
}
.pic5:hover
{
	opacity:0.5;
}
/************************************************/
