.header{
	width:100%;
	height:60px;
  padding-left:50px;
  background-color:#0abab5;
}
#button {
  margin-left:30px;
  margin-top:20px;
}
#dropdown1{
  margin-left:30px;
  margin-top:55px;
}
.card{
  height:320px;
  width:400px;
  left:50px;
  top:40px;
  float:left;
  margin:10px auto;
}
.activator{
  max-height:270px;
  width:auto;
}
.card-content{
  margin-top:-20px;
}
#pic0{
  margin-left:1%;
  margin-right:1%;
}
#pic1{
  margin-left:1%;
  margin-right:1%;
}
#pic2{
  margin-left:1%;
  margin-right:1%;
}
/**********************************/
#search{
  width:120px;
  height:40px;
  background-color:white;
  margin-left:48%;
  padding: 1px 0px;
  border: 2px inset;
}
.grid-item {
    /*width: 400px;
    height: 320px;/*change*/
    float: left;
    margin-top:1%;
    margin-left:0.5%;
    margin-right:0.5%;
}

.grid-item img {
  display: block;
  max-width: 100%;
}
/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}
.grid-sizer,.grid-item {
  width: 32%;
}
